<%= simple_form_for @task do |f| %>
  <%= f.input :title, label: t('views.tasks.title') %>
  <%= f.input :content, label: t('views.tasks.content') %>

  <%= f.button :submit, new_data?(@task) %>
<% end %>
<button style="border: 1px solid black"><%= link_to t('views.back'), :back %></button>
