<% if task.errors.present?%>
  <ul>
    <% task.errors.each do |error, message| %>
      <li style="color:red"><%= message %></li>
    <% end %>
  </ul>
<% end %>

<%= simple_form_for @task do |f| %>
  <%= f.input :title, label: t('views.tasks.title'), error: false %>
  <%= f.input :content, label: t('views.tasks.content') %>
  <%= f.input :start_date, label: t('views.tasks.start_date')%>
  <%= f.input :end_date, label: t('views.tasks.end_date')%>
  <%= f.input :priority, as: :radio_buttons, label: t('views.tasks.priority_t'), collection: priority_options, label_method: :second, value_method: :first %>

  <%= f.button :submit, new_data?(@task) %>
<% end %>
<button style="border: 1px solid black"><%= link_to t('views.back'), :back %></button>
