<h1> Task-Project </h1>
<%= search_form_for @q do |f| %>
  <%= f.input :title_cont, label: t('views.tasks.title') %>
  <%= f.input :state_eq, as: :select, label: t('views.tasks.state_t'), collection: state_options, label_method: :second, value_method: :first %>
  <%= f.submit %>
<% end %>
<hr>
<%= button_to t('views.tasks.add'), new_task_path, :method => "get" %>
<table border="1" style="border-collapse: collapse;">
  <thead>
    <tr>
      <td>ID</td>
      <td><%= t('views.tasks.title')%></td>
      <td><%= sort_option("end_date") %></td>
      <td><%= sort_option("created_at") %></td>
      <td>Action</td>
    </tr>
  </thead>
  <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <td><%= task.id %></td>
        <td><%= task.title %></td>
        <td><%= l( task.end_date, format: :long)%></td>
        <td><%= l( task.created_at, format: :long)%></td>
        <td style="display: flex">
           <%= button_to t('views.show'), task_path(task), :method => "get" %>
           <%= button_to t('views.edit'), edit_task_path(task), :method => "get" %>
           <%= button_to t('views.delete'), task_path(task), data: {:confirm => t('views.delete_confirm_msg')}, :method => "delete" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>